@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}
.text-blue {
    color: #96D4F1;
}
.text-green {
    color: #007E46;
}
.text-green2 {
    color: #013B52;
}
.bg-blue {
    background: #96D4F1;
}